.post-image-image.chapter-1 {
  background-position-y: 50%;
  background-position-x: 50%; }

.post-image-image.chapter-2 {
  background-position-y: 50%;
  background-position-x: 47%; }

.post-image-image.chapter-3 {
  background-position-y: 50%;
  background-position-x: 31%; }

.post-image-image.chapter-4 {
  background-position-y: 50%;
  background-position-x: 50%; }

html, body {
  font-family: "Maiola", "Open Sans", "Helvetica Neue", "Arial", "Helvetica", "sans-serif";
  overflow-x: hidden;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Maiola", "Open Sans", "Helvetica Neue", "Arial", "Helvetica", "sans-serif"; }

body.landing {
  background-color: black; }

body.error {
  height: 100vh; }
  body.error .wrapper {
    margin-top: 15vh; }
    body.error .wrapper h1 {
      font-size: 7em; }

body.uk-offcanvas-page {
  overflow-y: hidden; }

a {
  color: inherit;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }
  a:hover {
    color: inherit;
    text-decoration: none; }

a[disabled] {
  pointer-events: none; }

::-moz-selection {
  background-color: #000000; }

::selection {
  background-color: #000000; }

button, .uk-button {
  text-shadow: none; }

.f-uppercase {
  text-transform: uppercase; }

.tracked {
  letter-spacing: 0.1em; }

.centered {
  text-align: center; }

.c-grey {
  color: #AEAEAE; }
  .c-grey * {
    color: #AEAEAE; }

.c-white {
  color: white !important; }
  .c-white * {
    color: white; }

.c-black {
  color: black !important; }
  .c-black * {
    color: black; }

.bg-red {
  background-color: #000000 !important; }

.bg-grey {
  background-color: #6D6D6D !important; }

.bg-dark-green {
  background-color: #827456 !important; }

.underline {
  text-decoration: underline; }

.underline-hover:hover {
  text-decoration: underline; }

.margin-bottom-0 {
  margin-bottom: 0 !important; }

.margin-bottom-xs {
  margin-bottom: 10px !important; }

.margin-bottom-s {
  margin-bottom: 20px !important; }

.margin-bottom-m {
  margin-bottom: 40px !important; }

.margin-top-0 {
  margin-top: 0px !important; }

.margin-top-xs {
  margin-top: 10px !important; }

.margin-top-s {
  margin-top: 20px !important; }

.padding-bottom-s {
  padding-bottom: 20px !important; }

.padding-top-0 {
  padding-top: 0px !important; }

.padding-top-xs {
  padding-top: 10px !important; }

.padding-top-s {
  padding-top: 20px !important; }

.padding-left-s {
  padding-left: 20px !important; }

.padding-right-s {
  padding-right: 20px !important; }

.padding-s {
  padding: 20px !important; }

.fs-50 {
  font-size: 50%; }

.fs-60 {
  font-size: 60%; }

.fs-70 {
  font-size: 70%; }

.blank-list ul {
  list-style-type: none; }

/* add offset to on page link to account for fixed pos nav bar */
.offset-link:before {
  display: block;
  content: " ";
  margin-top: -56.4px;
  height: 56.4px;
  visibility: hidden; }
  @media only screen and (max-width: 905px) {
    .offset-link:before {
      margin-top: -56.4px;
      height: 56.4px; } }
  @media only screen and (max-width: 750px) {
    .offset-link:before {
      margin-top: -56.4px;
      height: 56.4px; } }

.first-chapter-cta {
  margin: 50px auto; }
  .first-chapter-cta h2 {
    font-size: 45px !important;
    line-height: 48px !important; }
    @media only screen and (max-width: 460px) {
      .first-chapter-cta h2 {
        font-size: 40px !important;
        line-height: 43px !important; } }

.header * {
  z-index: 10 !important; }

/* prevent default UIkit styling */
.uk-navbar-brand:before {
  content: none; }

.gomiddle {
  max-width: 680px;
  margin: 0 auto; }

.goleft {
  float: left; }

.goright {
  float: right; }

.goleft, .goright {
  width: 44%;
  margin-left: 3%;
  margin-right: 3%; }
  @media only screen and (max-width: 1000px) {
    .goleft, .goright {
      float: none;
      width: 100%; } }

.gomiddle p, .goleft p, .goright p, .goside p {
  margin-bottom: 0 !important;
  padding-top: 20px; }
  @media only screen and (max-width: 600px) {
    .gomiddle p, .goleft p, .goright p, .goside p {
      padding: 10px; } }
.gomiddle figure, .goleft figure, .goright figure, .goside figure {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  margin-top: 10px !important;
  padding-bottom: 0 !important; }

.goside {
  background: #33302d; }
  .goside p {
    font-size: 17px !important;
    line-height: 1.6 !important;
    color: white !important;
    padding: 10px; }

.clear {
  overflow: hidden;
  margin-bottom: 50px; }
  @media only screen and (max-width: 1000px) {
    .clear {
      margin-bottom: 20px; } }

nav.uk-navbar {
  position: fixed;
  float: none;
  width: 100%;
  height: 47px;
  top: 0;
  z-index: 9; }
  @media only screen and (max-width: 905px) {
    nav.uk-navbar {
      height: 47px; } }
  @media only screen and (max-width: 750px) {
    nav.uk-navbar {
      height: 47px; } }
  nav.uk-navbar a {
    z-index: 9; }
  nav.uk-navbar .uk-navbar-brand {
    line-height: 40px;
    font-size: 30px;
    padding: 0;
    margin-left: 15px; }
    @media only screen and (max-width: 750px) {
      nav.uk-navbar .uk-navbar-brand {
        margin-left: 0;
        position: inherit;
        width: 100%;
        text-align: center; } }
    @media only screen and (max-width: 750px) {
      nav.uk-navbar .uk-navbar-brand span {
        display: inline; } }
    nav.uk-navbar .uk-navbar-brand .header-logo {
      color: black;
      font-size: 40px;
      position: relative;
      top: 8px;
      font-weight: 900; }
  nav.uk-navbar ul.uk-navbar-nav {
    max-width: none;
    width: 600px; }
    @media only screen and (max-width: 905px) {
      nav.uk-navbar ul.uk-navbar-nav {
        width: 460px; } }
    @media only screen and (max-width: 750px) {
      nav.uk-navbar ul.uk-navbar-nav {
        display: none; } }
    nav.uk-navbar ul.uk-navbar-nav .chapter-nav {
      width: 130px;
      color: #000;
      text-align: center;
      margin: auto 10px;
      border-top: solid 2px black;
      -webkit-transition: border-top-color 0.35s;
      transition: border-top-color 0.35s;
      font-size: 19px;
      margin-top: 4px;
      padding-top: 13px; }
      nav.uk-navbar ul.uk-navbar-nav .chapter-nav a {
        text-decoration: none; }
      nav.uk-navbar ul.uk-navbar-nav .chapter-nav:not(.active):not(.disabled):hover {
        border-top-color: #827456; }
        nav.uk-navbar ul.uk-navbar-nav .chapter-nav:not(.active):not(.disabled):hover a {
          color: #827456;
          -webkit-transition: color 0.35s;
          transition: color 0.35s; }
      @media only screen and (max-width: 905px) {
        nav.uk-navbar ul.uk-navbar-nav .chapter-nav {
          width: 95px;
          line-height: 18px;
          margin: auto 8px; } }
    nav.uk-navbar ul.uk-navbar-nav .chapter-nav.disabled {
      color: #6D6D6D;
      border-top-color: #6D6D6D; }
      nav.uk-navbar ul.uk-navbar-nav .chapter-nav.disabled a {
        pointer-events: none;
        cursor: default; }
    nav.uk-navbar ul.uk-navbar-nav .chapter-nav.active {
      border-top-color: #827456;
      color: #000000; }
      nav.uk-navbar ul.uk-navbar-nav .chapter-nav.active a {
        pointer-events: none;
        cursor: default; }
  nav.uk-navbar .nav-about:hover {
    color: #6D6D6D; }
  @media only screen and (max-width: 750px) {
    nav.uk-navbar .nav-about {
      display: none; } }
  nav.uk-navbar .timeline-toggle {
    position: relative;
    float: left;
    display: none;
    background-image: url(../images/timeline-clock-black.svg);
    background-repeat: no-repeat;
    margin-top: 0px;
    margin-left: 0px;
    height: 100%;
    width: 65px;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: 35%; }
    nav.uk-navbar .timeline-toggle:hover {
      background-image: url(../images/timeline-clock-darkgrey.svg); }
    @media only screen and (max-width: 905px) {
      nav.uk-navbar .timeline-toggle {
        width: 47px; } }
    @media only screen and (max-width: 750px) {
      nav.uk-navbar .timeline-toggle {
        width: 47px; } }
  nav.uk-navbar .timeline-toggle.active {
    background-color: #827456;
    background-image: url(../images/timeline-clock-white.svg); }
  nav.uk-navbar .nav-toggle {
    position: relative;
    display: none;
    right: 0px;
    margin-left: 1rem;
    background-image: url(../images/hamburger-black.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 47px;
    background-size: 40%;
    background-position-x: 50%;
    background-position-y: 50%; }
    nav.uk-navbar .nav-toggle:hover {
      background-image: url(../images/hamburger-dark-grey.svg); }
    @media only screen and (max-width: 750px) {
      nav.uk-navbar .nav-toggle {
        display: block; } }
  nav.uk-navbar .nav-toggle.active {
    background-color: #827456;
    background-image: url(../images/hamburger-white.svg); }

.uk-offcanvas {
  background: none; }

#side-timeline .uk-offcanvas-bar {
  top: 47px; }
  @media only screen and (max-width: 905px) {
    #side-timeline .uk-offcanvas-bar {
      top: 47px; } }
  @media only screen and (max-width: 750px) {
    #side-timeline .uk-offcanvas-bar {
      top: 47px; } }
  #side-timeline .uk-offcanvas-bar li h2 {
    font-size: 16px; }

div#side-nav-bar {
  color: white; }
  div#side-nav-bar a {
    text-decoration: none; }
  div#side-nav-bar .uk-offcanvas-bar {
    top: 47px; }
    @media only screen and (max-width: 905px) {
      div#side-nav-bar .uk-offcanvas-bar {
        top: 47px; } }
    @media only screen and (max-width: 750px) {
      div#side-nav-bar .uk-offcanvas-bar {
        top: 47px; } }
    div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav {
      font-size: 18px;
      padding: 20px;
      border-bottom: solid 1px #FFF; }
      div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav div.nav-state-bar {
        width: 50px;
        height: 5px;
        margin-top: -20px;
        margin-bottom: 20px;
        background-color: #FFF; }
      div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav a:hover {
        color: #000000 !important; }
    div#side-nav-bar .uk-offcanvas-bar ul.uk-nav li:first-of-type div.nav-state-bar {
      height: 6px; }
    div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav.disabled {
      color: #6D6D6D; }
      div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav.disabled a {
        pointer-events: none;
        cursor: default; }
    div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav.active div.nav-state-bar {
      background-color: #000000; }
    div#side-nav-bar .uk-offcanvas-bar ul.uk-nav .chapter-nav.active a {
      pointer-events: none;
      cursor: default; }
    div#side-nav-bar .uk-offcanvas-bar .button-about {
      margin-top: 20px; }

.header {
  height: 40px; }
  .header .logo-top-left {
    position: absolute;
    width: 48px;
    height: 48px;
    margin: 0;
    margin-left: 25px;
    overflow: hidden;
    z-index: 99 !important; }
    .header .logo-top-left .logo {
      display: block;
      position: absolute;
      width: 32px;
      height: 32px;
      background-size: cover;
      background-repeat: no-repeat; }
      .header .logo-top-left .logo.logo-sng {
        background-image: url(../images/logo-sng.svg); }
      .header .logo-top-left .logo.logo-sng-black {
        background-image: url(../images/logo-sng-black.svg); }
      .header .logo-top-left .logo.logo-mzo::before {
        font-size: 40px;
        font-weight: 900;
        line-height: 40px;
        content: "M"; }

.nav-about {
  position: relative;
  float: right;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 25px;
  margin-right: 25px;
  z-index: 99 !important;
  text-decoration: none;
  font-size: 20px;
  line-height: 32px;
  font-weight: bold; }
  .nav-about.c-white:hover {
    color: #EFEFEF; }

.landing * {
  z-index: 9; }
.landing .landing-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .landing .landing-image .landing-image-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-indent: -9999px;
    padding-top: 33%;
    z-index: 1;
    opacity: 0.9; }
  .landing .landing-image .centered-bg {
    background-position-x: 50%; }
  .landing .landing-image .landing-image-fade {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 250px;
    background-color: rgba(63, 60, 37, 0);
    background-image: -webkit-linear-gradient(top, rgba(63, 60, 37, 0), black);
    background-image: linear-gradient(to bottom,rgba(63, 60, 37, 0), black); }
.landing .landing-content {
  position: relative;
  margin: 60px auto 35px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .landing .landing-content .title {
    font-size: 410px;
    line-height: 366px; }
    @media only screen and (max-width: 420px) {
      .landing .landing-content .title {
        font-size: 320px;
        line-height: 286px; } }
  .landing .landing-content .header {
    font-size: 60px;
    line-height: 60px; }
    @media only screen and (max-width: 550px) {
      .landing .landing-content .header {
        font-size: 45px;
        line-height: 45px; } }
    @media only screen and (max-width: 400px) {
      .landing .landing-content .header {
        font-size: 35px;
        line-height: 35px; } }
  .landing .landing-content h2 {
    font-size: 23px;
    letter-spacing: 0.45px; }
    @media only screen and (max-width: 805px) {
      .landing .landing-content h2 {
        font-size: 20px;
        margin-top: 0px; } }
  .landing .landing-content h3 {
    font-size: 25px;
    line-height: 28px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 805px) {
      .landing .landing-content h3 {
        font-size: 20px;
        line-height: 25px;
        margin-top: 0px; } }
  .landing .landing-content h4 {
    font-size: 23px;
    line-height: 26px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 805px) {
      .landing .landing-content h4 {
        font-size: 18px;
        line-height: 23px; } }
  .landing .landing-content h5 {
    font-size: 19px;
    line-height: 23px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75); }
    @media only screen and (max-width: 805px) {
      .landing .landing-content h5 {
        font-size: 16px;
        line-height: 20px; } }
  .landing .landing-content form#email-capture {
    width: 550px;
    margin: 25px auto; }
    @media only screen and (max-width: 805px) {
      .landing .landing-content form#email-capture {
        width: 500px; } }
    @media only screen and (max-width: 630px) {
      .landing .landing-content form#email-capture {
        width: 100%; } }
  .landing .landing-content .landing-intro {
    margin: 10px 0;
    font-size: 18px;
    line-height: 22px; }
  .landing .landing-content .landing-when-where-who {
    margin: 0;
    font-size: 26px;
    line-height: 36px; }
    @media only screen and (max-width: 970px) {
      .landing .landing-content .landing-when-where-who {
        font-size: 20px;
        line-height: 50px; } }

form#email-capture {
  padding-top: 15px; }
  form#email-capture fieldset {
    padding: 0px 15px; }
    form#email-capture fieldset legend {
      font-size: 20px; }
    form#email-capture fieldset legend:after {
      border-bottom: none; }
    form#email-capture fieldset input#MERGE0 {
      width: 50%;
      border: none;
      margin-right: 1%;
      max-width: 300px; }
      form#email-capture fieldset input#MERGE0::-webkit-input-placeholder {
        color: black; }
      form#email-capture fieldset input#MERGE0::-moz-placeholder {
        color: black; }
      form#email-capture fieldset input#MERGE0:-moz-placeholder {
        color: black; }
      form#email-capture fieldset input#MERGE0:-ms-input-placeholder {
        color: black; }
      @media only screen and (max-width: 630px) {
        form#email-capture fieldset input#MERGE0 {
          width: 100%;
          max-width: none;
          margin-right: 0px;
          height: 50px; } }
    form#email-capture fieldset button {
      font-weight: 900;
      font-size: 20px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }
      @media only screen and (max-width: 630px) {
        form#email-capture fieldset button {
          width: 100%;
          margin-top: 15px !important;
          height: 50px; } }
    form#email-capture fieldset p {
      font-size: 18px;
      padding-top: 15px; }

.button-xlarge {
  font-size: 25px;
  padding: 10px 25px; }

.button-large {
  font-size: 16px;
  padding: 8px 16px; }

.button-red {
  background-color: #000000;
  color: white; }
  .button-red:hover {
    background-color: #827456;
    color: white; }

.button-white {
  background-color: white;
  color: #444 !important;
  border: 1px solid black; }
  .button-white:hover {
    background-color: #EEE;
    color: black !important; }

.button-shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7); }

.button-ghost {
  background: none;
  border: white solid 1px;
  color: white !important;
  text-decoration: none !important;
  text-shadow: none; }

.button-ghost:hover {
  background: white;
  color: #444 !important; }

.button-ghost.button-ghost-black {
  border-color: black;
  color: black !important; }

.button-ghost.button-ghost-black:hover,
.button-ghost.button-ghost-black:focus {
  background-color: black !important;
  color: white !important; }
  .button-ghost.button-ghost-black:hover *,
  .button-ghost.button-ghost-black:focus * {
    color: white; }

@media all and (max-width: 960px) {
  a.button-print {
    display: none; } }
.chapter-preview {
  margin-left: 0px;
  margin-right: 25px;
  margin-bottom: 30px;
  margin-top: 0px; }
  .chapter-preview .chapter-thumb {
    color: white;
    max-width: 500px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px; }
    .chapter-preview .chapter-thumb .bt-white-red {
      border-top: white solid 2px; }
    .chapter-preview .chapter-thumb:hover .bt-white-red {
      border-top-color: #000000; }
    .chapter-preview .chapter-thumb h5 {
      display: inline-block;
      width: 100%;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 5px;
      margin-top: 15px; }
    .chapter-preview .chapter-thumb p {
      margin-top: 0; }
    .chapter-preview .chapter-thumb figure {
      max-width: 500px; }
      .chapter-preview .chapter-thumb figure:hover {
        opacity: 0.8; }
      .chapter-preview .chapter-thumb figure figcaption h2 {
        position: absolute;
        bottom: 0px;
        width: 100%;
        font-size: 40px;
        line-height: 55px; }
    .chapter-preview .chapter-thumb a.uk-button {
      font-size: 17px; }
  .chapter-preview .chapter-thumb.disabled * {
    color: #6D6D6D; }
    .chapter-preview .chapter-thumb.disabled * figcaption h2, .chapter-preview .chapter-thumb.disabled * figcaption h2 * {
      color: white; }
  .chapter-preview .chapter-thumb.disabled h5 {
    border-color: #6D6D6D !important; }

.content {
  max-width: 1200px; }
  @media only screen and (max-width: 600px) {
    .content {
      padding: 0 0; } }
  .content article {
    border: none;
    padding-bottom: 15px; }

.post.chapter .article-image, .post.subobject .article-image, .post.page .article-image {
  bottom: 5vh; }
  .post.chapter .article-image .post-meta, .post.subobject .article-image .post-meta, .post.page .article-image .post-meta {
    bottom: 200px; }
  .post.chapter .article-image .article-image-gradient, .post.subobject .article-image .article-image-gradient, .post.page .article-image .article-image-gradient {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8)); }
.post.chapter .post-content, .post.subobject .post-content, .post.page .post-content {
  position: relative;
  width: inherit;
  padding-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  background-color: white;
  color: #000;
  z-index: 3;
  font-size: 18px;
  line-height: 28px;
  text-align: center; }
  .post.chapter .post-content p, .post.subobject .post-content p, .post.page .post-content p {
    text-align: left; }
  @media only screen and (max-width: 600px) {
    .post.chapter .post-content, .post.subobject .post-content, .post.page .post-content {
      padding-left: 20px;
      padding-right: 20px; } }
  .post.chapter .post-content .chapter-title-wrapper .chapter-title, .post.subobject .post-content .chapter-title-wrapper .chapter-title, .post.page .post-content .chapter-title-wrapper .chapter-title {
    color: black; }
    @media only screen and (max-width: 600px) {
      .post.chapter .post-content .chapter-title-wrapper .chapter-title, .post.subobject .post-content .chapter-title-wrapper .chapter-title, .post.page .post-content .chapter-title-wrapper .chapter-title {
        margin-left: 0; } }
    .post.chapter .post-content .chapter-title-wrapper .chapter-title a, .post.subobject .post-content .chapter-title-wrapper .chapter-title a, .post.page .post-content .chapter-title-wrapper .chapter-title a {
      color: white;
      text-decoration: none; }
    .post.chapter .post-content .chapter-title-wrapper .chapter-title h1, .post.subobject .post-content .chapter-title-wrapper .chapter-title h1, .post.page .post-content .chapter-title-wrapper .chapter-title h1 {
      color: white;
      font-size: 104px;
      margin-bottom: -105px;
      position: relative;
      top: -200px;
      line-height: 1; }
      @media only screen and (max-width: 810px) {
        .post.chapter .post-content .chapter-title-wrapper .chapter-title h1, .post.subobject .post-content .chapter-title-wrapper .chapter-title h1, .post.page .post-content .chapter-title-wrapper .chapter-title h1 {
          font-size: 65px;
          margin-bottom: -25px; } }
      @media only screen and (max-width: 620px) {
        .post.chapter .post-content .chapter-title-wrapper .chapter-title h1, .post.subobject .post-content .chapter-title-wrapper .chapter-title h1, .post.page .post-content .chapter-title-wrapper .chapter-title h1 {
          font-size: 45px;
          margin-bottom: -20px; } }
      @media only screen and (max-width: 460px) {
        .post.chapter .post-content .chapter-title-wrapper .chapter-title h1, .post.subobject .post-content .chapter-title-wrapper .chapter-title h1, .post.page .post-content .chapter-title-wrapper .chapter-title h1 {
          font-size: 40px;
          margin-bottom: -15px; } }
    .post.chapter .post-content .chapter-title-wrapper .chapter-title .post-reading, .post.subobject .post-content .chapter-title-wrapper .chapter-title .post-reading, .post.page .post-content .chapter-title-wrapper .chapter-title .post-reading {
      position: relative;
      right: 0px;
      font-size: 16px;
      color: black;
      text-align: center;
      display: block; }
    .post.chapter .post-content .chapter-title-wrapper .chapter-title .sharing, .post.subobject .post-content .chapter-title-wrapper .chapter-title .sharing, .post.page .post-content .chapter-title-wrapper .chapter-title .sharing {
      margin-left: -29px;
      margin: 0 auto;
      width: 100%;
      margin-bottom: 50px;
      text-align: center; }
  .post.chapter .post-content .drop-cap, .post.subobject .post-content .drop-cap, .post.page .post-content .drop-cap {
    float: left;
    color: black;
    font-size: 138px;
    line-height: 86px;
    padding-top: 24px;
    padding-right: 15px;
    padding-left: 0px; }
  .post.chapter .post-content figure.audio, .post.chapter .post-content figure.video, .post.chapter .post-content p > a > figure.image, .post.subobject .post-content figure.audio, .post.subobject .post-content figure.video, .post.subobject .post-content p > a > figure.image, .post.page .post-content figure.audio, .post.page .post-content figure.video, .post.page .post-content p > a > figure.image {
    background-color: #EFEFEF;
    padding: 10px; }
  .post.chapter .post-content figure, .post.subobject .post-content figure, .post.page .post-content figure {
    margin-top: 10px; }
  .post.chapter .post-content p > a > figure.image .uk-overlay-panel, .post.subobject .post-content p > a > figure.image .uk-overlay-panel, .post.page .post-content p > a > figure.image .uk-overlay-panel {
    margin: 10px;
    background-color: rgba(130, 116, 86, 0.6);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center; }
  .post.chapter .post-content p > a > figure.image .uk-overlay-panel.icon-zoom, .post.subobject .post-content p > a > figure.image .uk-overlay-panel.icon-zoom, .post.page .post-content p > a > figure.image .uk-overlay-panel.icon-zoom {
    background-image: url(../images/icon-zoom-white.svg); }
  .post.chapter .post-content p > a > figure.image .uk-overlay-panel.icon-external, .post.subobject .post-content p > a > figure.image .uk-overlay-panel.icon-external, .post.page .post-content p > a > figure.image .uk-overlay-panel.icon-external {
    background-image: url(../images/icon-link-external-white.svg);
    background-size: 65%; }
  .post.chapter .post-content figcaption, .post.subobject .post-content figcaption, .post.page .post-content figcaption {
    margin-top: 10px;
    font-style: normal;
    font-size: 14px; }
  .post.chapter .post-content p, .post.subobject .post-content p, .post.page .post-content p {
    color: #000;
    font-size: 18px;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none; }
    @media only screen and (max-width: 600px) {
      .post.chapter .post-content p, .post.subobject .post-content p, .post.page .post-content p {
        line-height: 25px; } }
  .post.chapter .post-content h1, .post.subobject .post-content h1, .post.page .post-content h1 {
    font-size: 45px;
    text-align: center; }
  .post.chapter .post-content h1, .post.chapter .post-content h2, .post.subobject .post-content h1, .post.subobject .post-content h2, .post.page .post-content h1, .post.page .post-content h2 {
    letter-spacing: normal;
    text-align: center; }
  .post.chapter .post-content h2, .post.subobject .post-content h2, .post.page .post-content h2 {
    margin-bottom: 15px;
    padding-top: 0;
    text-align: center; }
  .post.chapter .post-content h3, .post.chapter .post-content h4, .post.chapter .post-content h5, .post.chapter .post-content h6, .post.subobject .post-content h3, .post.subobject .post-content h4, .post.subobject .post-content h5, .post.subobject .post-content h6, .post.page .post-content h3, .post.page .post-content h4, .post.page .post-content h5, .post.page .post-content h6 {
    margin-bottom: 20px; }
  .post.chapter .post-content h1, .post.chapter .post-content h2, .post.chapter .post-content h3, .post.chapter .post-content h4, .post.chapter .post-content h5, .post.chapter .post-content h6, .post.subobject .post-content h1, .post.subobject .post-content h2, .post.subobject .post-content h3, .post.subobject .post-content h4, .post.subobject .post-content h5, .post.subobject .post-content h6, .post.page .post-content h1, .post.page .post-content h2, .post.page .post-content h3, .post.page .post-content h4, .post.page .post-content h5, .post.page .post-content h6 {
    color: #000; }
  .post.chapter .post-content .title-date, .post.subobject .post-content .title-date, .post.page .post-content .title-date {
    font-size: 18px;
    font-weight: 100; }
  .post.chapter .post-content h2:first-child, .post.subobject .post-content h2:first-child, .post.page .post-content h2:first-child {
    margin-top: 0;
    text-align: center; }
  .post.chapter .post-content .fluid-width-video-wrapper, .post.subobject .post-content .fluid-width-video-wrapper, .post.page .post-content .fluid-width-video-wrapper {
    margin-left: 0 !important; }
  .post.chapter .post-content div.highlight p, .post.subobject .post-content div.highlight p, .post.page .post-content div.highlight p {
    font-size: 22px;
    line-height: 32px; }
  .post.chapter .post-content li, .post.subobject .post-content li, .post.page .post-content li {
    font-size: 18px; }
  .post.chapter .post-content hr, .post.subobject .post-content hr, .post.page .post-content hr {
    margin-top: 50px !important;
    margin-bottom: 50px !important; }
  .post.chapter .post-content .slick-slider, .post.subobject .post-content .slick-slider, .post.page .post-content .slick-slider {
    margin-bottom: 70px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px; }
  .post.chapter .post-content div.audioplayer, .post.subobject .post-content div.audioplayer, .post.page .post-content div.audioplayer {
    margin-bottom: -30px; }

.post.subobject {
  color: #000; }
  .post.subobject .breadcrumbs {
    padding: 0 40px;
    margin-top: -25px;
    margin-bottom: 25px; }
    @media only screen and (max-width: 600px) {
      .post.subobject .breadcrumbs {
        margin-top: 0;
        padding: 0 20px; } }
    .post.subobject .breadcrumbs a {
      text-decoration: underline; }
    .post.subobject .breadcrumbs .breadcrumb-symbol {
      padding: 5px; }
  .post.subobject .chapter-title {
    margin: 50px 40px;
    margin-bottom: 0; }
    @media only screen and (max-width: 600px) {
      .post.subobject .chapter-title {
        margin: 50px 20px; } }
    .post.subobject .chapter-title h1 {
      color: black;
      font-size: 60px;
      line-height: 60px; }
      @media only screen and (max-width: 620px) {
        .post.subobject .chapter-title h1 {
          font-size: 40px;
          line-height: 40px; } }
      @media only screen and (max-width: 460px) {
        .post.subobject .chapter-title h1 {
          font-size: 35px;
          line-height: 35px; } }
    .post.subobject .chapter-title .title-date {
      font-size: 18px;
      font-weight: 100;
      margin: 0; }
    .post.subobject .chapter-title .sharing {
      margin-left: -10px; }
  .post.subobject .post-reading {
    top: -52px; }

.return {
  height: 250px; }
  .return .return-gradient {
    height: 100%;
    background: linear-gradient(#f9f9f7, rgba(249, 249, 247, 0.5)); }
  .return .button-return {
    margin-top: 95px; }

.return.chapter-1 {
  background: url(../../../pages/chapters/1/master-cover.jpg);
  background-size: cover;
  background-position-y: 52%; }

.return.chapter-2 {
  background: url(../../../pages/chapters/2/teslik-oslavy.jpg);
  background-size: cover;
  background-position-y: 28%; }

.return.chapter-3 {
  background: url(../../../pages/chapters/3/Anton_banik--deportacia_zidovskeho_obyvatelstva-1942--SNA-fondSTK.jpg);
  background-size: cover;
  background-position-y: 10%; }

.return.chapter-4 {
  background: url(../../../pages/chapters/4/Telgart_vypalenie-cover.jpg);
  background-size: cover;
  background-position-y: 40%; }

@media only screen and (max-width: 600px) {
  .post.page {
    padding-bottom: 0; } }
.post.page .page-title {
  padding: 15px;
  margin-bottom: 20px; }
  .post.page .page-title h1 {
    font-size: 95px;
    line-height: 95px; }
    @media only screen and (max-width: 750px) {
      .post.page .page-title h1 {
        font-size: 70px;
        line-height: 70px; } }
    @media only screen and (max-width: 460px) {
      .post.page .page-title h1 {
        font-size: 45px;
        line-height: 45px; } }
  .post.page .page-title img.headline-logo {
    height: 60px; }
    @media only screen and (max-width: 750px) {
      .post.page .page-title img.headline-logo {
        height: 45px; } }
    @media only screen and (max-width: 460px) {
      .post.page .page-title img.headline-logo {
        height: 30px; } }
.post.page .post-content {
  padding: 50px; }
  @media only screen and (max-width: 600px) {
    .post.page .post-content {
      padding-left: 20px;
      padding-right: 20px; } }
  .post.page .post-content h2 {
    margin-bottom: 35px; }
  .post.page .post-content ul li {
    margin-left: 20px; }
  @media only screen and (max-width: 600px) {
    .post.page .post-content .blank-list ul li {
      margin-left: 0; } }

.sharing button, .sharing a {
  font-size: 14px;
  margin: 10px 10px;
  padding-top: 5px;
  padding-bottom: 5px; }

.subobject .sharing button, .subobject .sharing a {
  margin: 10px 6px; }

.subobject-overview {
  margin-bottom: 20px; }
  .subobject-overview .subobject-wrapper a {
    text-decoration: none; }
  .subobject-overview .subobject-wrapper figure {
    padding: 0 !important;
    margin-bottom: 0;
    background: none !important; }
    .subobject-overview .subobject-wrapper figure figcaption {
      display: none; }
    .subobject-overview .subobject-wrapper figure img {
      padding: 20px; }
  .subobject-overview .subobject-wrapper img.icon {
    float: left;
    width: 15%;
    margin-top: -2%; }
  .subobject-overview .subobject-wrapper span.subobject-caption {
    float: right;
    width: 80%;
    text-decoration: none;
    font-size: 20px;
    font-weight: 900;
    transition: all 0.35s; }
  .subobject-overview .subobject-wrapper:hover span.subobject-caption {
    color: #000000; }
  @media only screen and (max-width: 600px) {
    .subobject-overview .subobject-wrapper {
      border: 1px solid black;
      width: 93%;
      margin-left: 25px;
      padding-left: 0;
      margin-top: 10px;
      margin-bottom: 10px; }
      .subobject-overview .subobject-wrapper figure {
        display: inline; }
        .subobject-overview .subobject-wrapper figure img {
          padding: 0 0;
          width: 25%; }
      .subobject-overview .subobject-wrapper .subobject-content {
        display: inline-block;
        vertical-align: middle; }
      .subobject-overview .subobject-wrapper img.icon {
        float: none;
        width: 6%;
        min-width: 20px;
        margin: 1%; }
      .subobject-overview .subobject-wrapper span.subobject-caption {
        float: none;
        width: 60%; } }

#footer a:not(.uk-button) {
  color: white; }
  #footer a:not(.uk-button):hover {
    color: #EFEFEF; }
#footer .footer-icon {
  width: 25px;
  margin: auto 12px; }
#footer a svg #footericonsng,
#footer a svg #footericonfb {
  fill: white; }
#footer a svg:hover #footericonsng,
#footer a svg:hover #footericonfb {
  fill: #EFEFEF !important; }
#footer a svg.c-black #footericonsng,
#footer a svg.c-black #footericonfb {
  fill: black; }

figure.image {
  text-align: center; }

/*# sourceMappingURL=custom.css.map */
