.rb-outer-2231x3010 {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: (3010 / 2231) * 100%;
  }
  > .rb-inner {
    position: absolute;
    top: 4%;
    right: 4%;
    bottom: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
  }
}