{% set defaultEmailCTA         = "EMAIL_CAPTURE.DEFAULT_EMAIL_CTA"|t %}
{% set defaultEmailPlaceholder = "EMAIL_CAPTURE.DEFAULT_EMAIL_PLACEHOLDER"|t %}
{% set defaultEmailButton      = "EMAIL_CAPTURE.DEFAULT_EMAIL_BUTTON"|t %}
{% set defaultEmailNotice      = "" %}

<form id="email-capture" class="uk-form bg-red uk-text-center" action="https://sng.us3.list-manage.com/subscribe/post" method="POST">
    <input type="hidden" name="u" value="0836676badd21fd175052c757">
    <input type="hidden" name="id" value="d5c8f482a1">
    <fieldset data-uk-margin>
        <legend class="c-black f-uni-grotesk-bold">{{emailCTA|default(defaultEmailCTA)}}</legend>        
        <input type="email" autocapitalize="off" autocorrect="off" name="MERGE0" id="MERGE0" placeholder="{{emailPlaceholder|default(defaultEmailPlaceholder)}}" class="uk-form-large c-black f-uni-grotesk-regular">
        <button class="uk-button uk-button-large c-black f-uni-grotesk-bold">{{emailButton|default(defaultEmailButton)}}</button>
        <p class="c-black f-uni-grotesk-regular">{{emailNotice|default(defaultEmailNotice)}}</p>
    </fieldset>
</form>