<footer id="footer" class="centered padding-bottom-s padding-top-s {{stylingClasses}}">
    {% if sharingButtons %}
        <div class="margin-top-xs">
        {% include 'partials/sharing.html.twig' with {
            sharingStylingClasses: 'button-ghost'
        }%}
        </div>
    {% endif %}

    {% if exhibitionLink %}
        <p class="margin-top-s">
            <a href="https://www.sng.sk/sk/vystavy/1064_majster-z-okolicneho-a-goticke-umenie-spisa-okolo-roku-1500" target="_blank">
                {{"FOOTER.EXHIBITION_INFO"|t}}
            </a>
        </p>
    {% endif %}

    {% if orgIcons %}
        <p>
            <a href="http://www.sng.sk/" target="_blank"><img class="svg footer-icon {{ stylingClasses }}" src="{{ theme_url }}/images/fb-sngweb-link.svg" alt=""></a>
        </p>
    {% endif %}

    {% if copyright %}
        <p>
            <a href="http://lab.sng.sk/">2017 &copy; lab.SNG</a>
        </p>
    {% endif %}
</footer>
