{% do assets.add('jquery', 101) %}
{% do assets.addJs('theme://js/jquery.fitvids.js') %}
{% do assets.addJs('theme://js/index.js') %}
{% do assets.addJs('theme://js/readingTime.js') %}
{% do assets.addJs('theme://js/nav-bar.js') %}
{% do assets.addJs('theme://js/back-button.js') %}
{% do assets.addJs('theme://js/timeline.js') %}
{% do assets.addJs('theme://js/tooltip.js') %}
{% do assets.addJs('theme://js/inline-svg.js') %}
{% do assets.addJs('theme://js/audioplayer.js') %}
{% if page.template == "chapter" %}
  {% do assets.addJs('theme://js/reading-progress.js') %}
{% endif %}
{% do assets.addJs('theme://js/slick.js') %}
{% do assets.addJs('theme://js/magnific-popup.js') %}
{% do assets.addJs('theme://js/smooth-scroll.js') %}

{{ assets.js() }}

<script>
(function ($) {
  "use strict";
  $(document).ready(function(){

    var $window = $(window),
    $image = $('.post-image-image, .teaserimage-image');
    $window.on('scroll', function() {
      var top = $window.scrollTop();

      if (top < 0 || top > 1500) { return; }
      $image
        .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
        .css('opacity', 1-Math.max(top/700, 0));
    });
    $window.trigger('scroll');
    
    var chapterPercentageFromTop = 60;
    $('.chapter .post-content').css('margin-top', chapterPercentageFromTop + 'vh');

    // enable uk-offcanvas elements to be triggered
    $('[data-uk-offcanvas]').click(function () {
      var target = $(this).attr('href');
      UIkit.offcanvas.show(target, {mode: 'slide'});
    });

    // style audio player
    $( 'audio' ).audioPlayer({classPrefix: 'audioplayer'});
    // remove empty paragraph that gets inserted during markdown conversion
    $('figure.audio > p:empty').remove();

    // Slick
    $('.carousel').slick({
      dots: true,
      infinite: true,
      speed: 300,
      centerMode: true,
      centerPadding: '60px',
      variableWidth: true,
      prevArrow:"<img class='a-left control-c prev slick-prev' src='/user/themes/longread/images/slick/left.svg'>",
      nextArrow:"<img class='a-right control-c next slick-next' src='/user/themes/longread/images/slick/right.svg'>"
    });

    $('a[href^="http://www.webumenia"]').has('figure.image').magnificPopup({
      type: 'iframe',
      mainClass: 'mfp-with-zoom',

      iframe: {
        markup: '<div class="mfp-iframe-scaler mfp-iframe-big">'+
                    '<div class="mfp-close"></div>'+
                    '<iframe class="mfp-iframe" frameborder="0" allowfullscreen></iframe>'+
                    '<div class="mfp-title"></div>'+
                  '</div>', // HTML markup of popup, `mfp-close` will be replaced by the close button

        patterns: {
          webumenia: {
            
            index: 'webumenia.sk',
            
            id: function(url) {        
                var m = url.match(/^.+webumenia.sk\/dielo\/([^?]+)[.]*/);
                if (m !== null) {
                    return m[1];
                }
                return null;
            },
            
            src: 'http://www.webumenia.sk/dielo/%id%/zoom?noreturn=1'
            
          }
        }
      },

      zoom: {
        enabled: true,

        duration: 300,
        easing: 'ease-in-out', 

        opener: function(openerElement) {
          return openerElement.is('img') ? openerElement : openerElement.find('img');
        }
      },

      callbacks: {
          markupParse: function(template, values, item) {
            values.title = item.el.find('img').attr('alt') + ' (<a href="'+item.el.attr('href')+'" target="_blank">webumenia.sk</a>)';
          }
        }

    });

    // add zoom icon to zoomable webumenia images
    $('a[href^="http://www.webumenia"] figure.image img')
      .wrap('<div class="uk-overlay uk-overlay-hover"></div>')
      .parent().append('<span class="icon-zoom uk-overlay-panel uk-overlay-bottom uk-overlay-left uk-overlay-fade"></span>');

    // add external link icon to external images
    $('p > a:not([href^="http://www.webumenia"]) figure.image img')
      .wrap('<div class="uk-overlay uk-overlay-hover"></div>')
      .parent().append('<span class="icon-external uk-overlay-panel uk-overlay-bottom uk-overlay-left uk-overlay-fade"></span>');

  });
}(jQuery));
</script>
