<div id="reading-progress">
    <progress class="reading-progress-progress" value="0">
        <div class="progress-container">
            <span class="progress-bar"></span>
        </div>
    </progress>
</div>