// colors

$color-bg: #000000; // black
$color-1: #ad9553; // gold light
$color-2: #8c7b55; // gold dark
$color-3: #ffffff; // white

// fonts 

$primary-font: 'Maiola-Bold', serif;

// bounce-in duration

$bounce-in-duration: .7s;